#{t 'questions.question.from'}
-bronze, silver, gold = user.badges_count_on(current_group)
-unless user.nil?
  =link_to h(user.login), user_path(user), :class => "user-link"
  
-if user.owner_of?(current_group)
  %i.owner{:title => "admin"}
    [ #{t 'questions.question.role.admin'} ]
  
-elsif user.mod_of?(current_group)
  %i.mod{:title => "moderator"}
    [ #{t 'questions.question.role.moderator'} ]
      
-elsif user.editor_of?(current_group)
  %i.editor{:title => "editor"}
    [ #{t 'questions.question.role.editor'} ]
      
  