#mainTabs
  %ul
    %li.active
      =link_to "Спросить", new_question_path
    %li
      =link_to "Ответить", random_questions_path
    %li
      =link_to "Поиск", search_index_path

  %section#questions
    =image_tag("pregunta-icon-big.png")
    =render "shared/quick_question_box"
  .clear
